# PocketBase data directory
pb_*/

# Docker files
Dockerfile.old 
docker-compose.yml-old

# Docker volumes
# *.volume

# Environment variables
.env

# Log files
# *.log 

# Temporary files 
letsencrypt/
